@import "tailwindcss";

.page1{
    height: 100vh;
    width: 100%;
    background: #000;
}

.page2{
    height: 100vh;
    width: 100%;
    background: #111;
}

.page3{
    height: 100vh;
    width: 100%;
    background: #222;
}