*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: beige;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{

  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}
button{
  background-color: black;
  border-radius: 10px;
  margin-top:8px;
  padding: 10px;
  
}

.card p{
  margin: 20px 0;
}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}