h1{
  position: absolute;
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}

.nav{
       
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nav div{
    display: flex;
    gap: 15px;
    font-size: larger;
    font-weight: 600;
  
}