body{
  background-color: black;
  color: white;
  margin: 0px;
}

.navMain{
display: flex;
justify-content: space-between;
padding: 0px 20px; 
background-color: rgb(111, 99, 206);
}

.nav2{
  display: flex;
  align-items: center;
  gap: 15px;
}